<div class="storage-item-settings">
	<div class="s3 row-fluid">
		<div class="span12">
			<form class="form-horizontal js-storage-settings-form">
				<label class="control-group">
					<span class="control-label">{{ @root.i18n.storagemgmt.itemSettings.nameLabel }}</span>
					<div class="controls">
						<input type="text" value="{{name}}" name="name">
					</div>
				</label>
				<label class="control-group">
					<span class="control-label">{{ @root.i18n.storagemgmt.itemSettings.bucketLabel }}</span>
					<div class="controls">
						<input type="text" value="{{bucket}}" name="bucket">
					</div>
				</label>
				<label class="control-group">
					<span class="control-label">{{ @root.i18n.storagemgmt.itemSettings.keyLabel }}</span>
					<div class="controls">
						<input type="text" value="{{key}}" name="key">
					</div>
				</label>
				<label class="control-group">
					<span class="control-label">{{ @root.i18n.storagemgmt.itemSettings.secretLabel }}</span>
					<div class="controls">
						<input type="text" value="{{secret}}" name="secret">
					</div>
				</label>
				<div class="buttons-wrapper clearfix">
					<button type="submit" class="btn btn-primary js-save" >{{ @root.i18n.storagemgmt.itemSettings.saveBtnText }}</button>
					<button type="button" class="btn js-cancel">{{ @root.i18n.storagemgmt.itemSettings.cancelBtnText }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
