<div class="storage-item-settings">
	<div class="{{ type }} row-fluid">
		<div class="span12">
			<form class="form-horizontal js-storage-settings-form">
				{{{ formElements }}}
				<div class="buttons-wrapper clearfix">
					<button type="submit" class="btn btn-primary js-save" >{{ @root.i18n.storagemgmt.itemSettings.saveBtnText }}</button>
					<button type="button" class="btn js-cancel">{{ @root.i18n.storagemgmt.itemSettings.cancelBtnText }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
