<div class="js-new-storage-item new-storage-item storage-provider-wrapper">
	<div class="storage-choice">
		<div class="storage-item-settings">
			<div class="js-new-storage-tabs">
				{{#if storages.length}}
					<ul>
					{{#each storages}}
						<li>
							<a href="#{{ type }}-new-item-content" class="storage-item-logo">
								{{{ logo }}}
							</a>
						</li>
					{{/each}}
					</ul>
					<div class="tab-content">
					{{#each storages}}
						<div class="js-tab-content-item {{ type }} tab-content-item" data-type="{{ type }}" id="{{ type }}-new-item-content">
							<form class="form-horizontal js-storage-settings-form">
								{{{ formElements }}}
								<div class="buttons-wrapper clearfix">
									<button type="submit" class="btn btn-primary js-save" >{{ @root.i18n.storagemgmt.newItem.saveNewItemText }}</button>
									<button type="button" class="btn js-cancel">{{ @root.i18n.storagemgmt.newItem.cancelBtnText }}</button>
								</div>
							</form>
						</div>
					{{/each}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>


